* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.headerTop 
{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #1F2937;
padding: 10px;
}
.headerDiv {
    font-size: 24px;
    color: #F9FAF8;
}

.headerLinks {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.section1 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;;
    padding: 0 24px 0 24px;
    
    
}
.item1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.button1 {
    background-color: #3882f6;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
}

.itemList1 {
    width: 400px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image1 {
    height: 200px;
    width: 400px;
    background-image: url(https://images.pexels.com/photos/26792334/pexels-photo-26792334.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}